{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}
<div class="module">
  <h1>Import CSV file</h1>
  <p>Please upload a CSV file to import weight measurements.</p>
  
  <form
    class="upload-form"
    novalidate
    method="POST" 
    enctype="multipart/form-data"
    action="{% url 'admin:api_weightmeasurement_import_csv' %}"
  >
    {% csrf_token %}
    {{ form.as_p }}
    <div class="submit-row">
      <input type="submit" value="upload" class="default" />
    </div>
  </form>

  {% if messages %}
    <ul class="messagelist">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}


